In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [67]:
s1= pd.Series(['bdtn','isymed','asr','isn','ari','if','iair','get','iades','ise'])

In [43]:
s1

0      bdtn
1    isymed
2       asr
3       isn
4       ari
5        if
6      iair
7       get
8     iades
9       ise
dtype: object

In [44]:
s2= pd.Series(['tic','ise','tic','tic','gee','tic','tic','gee','gee','ise'])

In [45]:
s2

0    tic
1    ise
2    tic
3    tic
4    gee
5    tic
6    tic
7    gee
8    gee
9    ise
dtype: object

In [62]:
dataframe = pd.concat([s1, s2], axis=1).reset_index()

In [63]:
dataframe

   index       0    1
0      0    bdtn  tic
1      1  isymed  ise
2      2     asr  tic
3      3     isn  tic
4      4     ari  gee
5      5      if  tic
6      6    iair  tic
7      7     get  gee
8      8   iades  gee
9      9     ise  ise

In [72]:
df = pd.DataFrame({'dominante': ['bdtn','isymed','asr','isn','ari','if','iair','get','iades','ise'], 'departement': ['tic','ise','tic','tic','gee','tic','tic','gee','gee','ise']})

In [73]:
df

  departement dominante
0         tic      bdtn
1         ise    isymed
2         tic       asr
3         tic       isn
4         gee       ari
5         tic        if
6         tic      iair
7         gee       get
8         gee     iades
9         ise       ise

In [94]:
df4 = pd.DataFrame({'nom': ['Serghini','Diarra','Ndiaye','lemagnen','Nitcheu','Florian'], 'prenom': ['Sara','Assitan','Rose','Jeremy','Boris','flo'], 'code domin.': ['12X78l','12X78l','d23a89','c89292','y78909','y78909']})

In [95]:
df4

  code domin.       nom   prenom
0      12X78l  Serghini     Sara
1      12X78l    Diarra  Assitan
2      d23a89    Ndiaye     Rose
3      c89292  lemagnen   Jeremy
4      y78909   Nitcheu    Boris
5      y78909   Florian      flo

In [103]:
df4 = pd.DataFrame(np.random.randn(6, 1))

In [104]:
df4.pct_change()

          0
0       NaN
1 -3.616549
2 -1.626906
3 -4.435415
4 -1.061293
5 -6.571847

In [99]:
s.pct_change()

TypeError: unsupported operand type(s) for /: 'list' and 'float'